@charset "utf-8";
/* CSS Document */
$nav-height: 64px;
$nav-line-height: 60px;
$font-size: 12px !default;
$font-color: #5f5f5f;
$left-width: 230px;
$font-family: "Monospaced Number","Chinese Quote",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
$color-blue: #1890ff;
html {
  overflow-y: hidden;
  font-family: $font-family;
}
a {
  color: $font-color;
  &:hover{
    color: $color-blue;
    text-decoration:none
  }
}
%active {
  font-size: $font-size+2;
  color: $color-blue;
  -webkit-transition: all .3s cubic-bezier(0, 0, 0, 0.48); /* 缓慢变色效果 */
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}
%nav-wrap {
  height: $nav-height;
  line-height: $nav-line-height;
  background: #fff;
  border-radius: 6px;
  box-shadow: 2px 2px 8px #e9e9e9;
}
%nav-menu-item {

  min-width: 72px;
  border-top: 2px solid transparent;
  color: $font-size;
}
/* 顶部导航条开始 */
#nav-top{
  width: 100%;
  height: $nav-height;
  color: #0f0f0f;
  @extend %nav-wrap;
  .nt-logo{
    width: $left-width;
    text-align: center;
    float: left;
    position: relative;
    img {
      width: 100%;

    }

  }
  .nt-nav{
    padding: 0 2px;
    width: 700px;
    height: $nav-height;
    float: left;
    li{
      width: 120px;
      @extend %nav-menu-item;
      text-align: center;
      // background: #62A8D1;
      cursor: pointer;
      font-size: $font-size+2;
      float: left;
      .nt-ico {
        font-size: 20px;
      }
      &:hover {
        border-top: 2px solid $color-blue;
        @extend %active
      }
    }
    .ntn-active{
      border-top: 2px solid $color-blue;
      @extend %active
    }
  }
  .nt-msg{
    padding-right: 20px;
    width: 220px;
    height: $nav-height;
    float: right;
    li{
      width: 100px;
      height: $nav-height;
      line-height: $nav-line-height;
      text-align: center;
      float: left;
    }
    .nt-sign-out{

    }
  }
}
/* 顶部导航条结束 */

%main-content {
  top: 90px;
}
%menu-active {
  background: #E6F7FF;
  @extend %active
}
/* 左侧导航开始 */
#nav-left{
  @extend %main-content;
  width: $left-width;
  height: 100%;
  border-right: 1px solid #E8E8E8;
  // float: left;
  position: absolute;
  left: 0;
  // background: #ECF0F1;
  .menu-submenu-title {
    padding-right: 34px;
    padding-left: 24px;
    line-height: 40px;
    height: 40px;
    cursor: pointer;
  }
  .menu-item {
    &:before {
      box-sizing: border-box;
    }
  }

  .nl-con{
    display: none;
    dl{
      margin: 0;
      dt{
        padding-left: 15px;
        width: $left-width;
        height: 50px;
        line-height: 48px;
        span{
          margin-right: 10px;
        }
      }
      dd{
        padding-left: 40px;
        height: 40px;
        line-height: 40px;
        position: relative;
        margin-bottom: 10px;
        &:hover {
          @extend %menu-active;
        }
        span{
          margin-right: 5px;
        }
        a{
          display: block;
          width: 190px;
          height: 40px;
          position: absolute;
          top: 0;
          left: 0;
        }
        .nl-checked{
          width: 2px;
          height: 40px;
          background: $color-blue;
          display: none;
          position: absolute;
          right: -1px;
          top: 0;
          @extend %menu-active;
          .nl-arrows{
            width: 0;
            height: 0;
            border: 16px solid transparent;
            border-right-color: $color-blue;
            position: absolute;
            left: -30px;
            top: 3px;
          }
        }
      }

    }
    .menu-active {
      @extend %menu-active;
      border-right: 3px solid #1890ff;
    }
  }
  .nl-show{
    display: block;
  }
}
/* 左侧导航结束 */

/* 右侧内容区域开始 */
#content{
  @extend %main-content;
  position: absolute;
  bottom: 0;
  left: $left_width+5;
  right: 0;
  width: 100%;
  height: 590px;
  overflow-y: hidden;
  overflow-x: hidden;
}
/* 右侧区域导航结束 */

/* 欢迎页面开始 */
#welcome{
  padding: 0 10px 0 0;
  .block{
    .title{
      width: 100%;
      height: 40px;
      line-height: 40px;
      text-indent: 10px;
      font-size: 16px;
      background: #E4F5FA;
      font-weight: 600;
    }
    .content{
      width: 100%;
      height: 30px;
      li{
        width: 380px;
        height: 30px;
        line-height: 30px;
        float: left;
        text-indent: 10px;
      }
    }
    th{
      width: 100px;
      height: 30px;
      line-height: 30px;
      font-weight: 400;
      text-align: right;
    }
  }
}

/* 欢迎页面结束 */
