<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加标签</title>
    <%- partial('../../common/bootstrapCss') %>
    <link rel="stylesheet" type="text/css" href="<%=static.__ADMIN_CSS__%>common.css"/>
</head>
<body>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <span class="tag">
                <b>标签管理</b> / 添加标签
            </span>
        </div>
    </div>
    <% if(typeof(message) !== 'undefined') { %>
       <%- partial('../message/message', { message: message }) %>
    <% } %>
    <div class="row">
        <div class="col-md-4 col-md-offset-1">
            <form action="/admin/tag/add" method="post" class="form-wrap">
                <fieldset>

                    <label class="margin-top-1" contenteditable="true">标签名</label>
                    <textarea class="form-control modal-sm margin-top-1" name="tnames" rows="5" placeholder="可以批量添加标签，每行一个。"></textarea>
                    <!--<span class="help-block" contenteditable="true">这里填写帮助信息.</span>-->
                    <button  class="btn lss-btn-primary margin-top-1" contenteditable="true" type="submit">确认添加</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<%- partial('../../common/bootstrapJs') %>
</body>
</html>
