<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加标签</title>
    <%- partial('../../common/bootstrapCss') %>
    <link rel="stylesheet" type="text/css" href="<%=static.__ADMIN_CSS__%>common.css"/>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <span class="tag">
                <b>分类管理</b> / 编辑分类
            </span>
        </div>
    </div>
    <div class="row margin-top-2">
        <div class="col-md-12">
            <span class="tag">
                <a href="javascript:history.go(-1)">返回</a>
            </span>
        </div>
    </div>
    <div class="row margin-top-1">
        <div class="col-md-4 col-md-offset-1">
            <form id="editCategory" class="form-wrap">
                <table class="table">
                    <tr>
                        <th>分类名</th>
                        <td><input class="form-control modal-sm" type="text" name="cname"  value="<%=category.cname%>"></td>
                    </tr>
                    <tr>
                        <th>所属栏目</th>
                        <td>
                            <select class="form-control modal-sm" name="pid">
                                <option value="0">顶级栏目</option>
                                <%  result.forEach(function (item) { %>
                                    <option value="<%=item._id%>" <% if(item._id==item.parent_id){ %>selected="selected" <% } %> >
                                       <%=item.html%><%=item.cname%>
                                    </option>
                                <% }) %>
                               <!-- <foreach name="data" key="k" item="v">
                                    <option value="{$v['cid']}" <if condition="$cid eq $v['cid']">selected="selected"</if> >{$v['_name']}</option>
                                </foreach>-->
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>排序</th>
                        <td><input class="form-control modal-sm" type="text" name="sort" value="<%=category.sort%>"></td>
                    </tr>
                    <tr>
                        <th>关键词</th>
                        <td><input class="form-control modal-sm" type="text" name="keywords" value="<%=category.keywords%>"></td>
                    </tr>
                    <tr>
                        <th>描述</th>
                        <td>
                            <textarea class="form-control modal-sm" name="description"><%=category.description%></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <input type="hidden" value="<%=category._id%>" name="id">
                            <input class="btn lss-btn-primary" type="button" value="确认修改" onclick="sub()">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>

<%- partial('../../common/bootstrapJs') %>
<script>
  function sub() {
    $.ajax({
      url: '/admin/category/edit',
      dataType: 'json',
      type: 'post',
      data: $('#editCategory').serialize(),
      success: function (result) {
        if(result.code === 200) {
          layer.msg(result.message, {icon: 1, time: 1500});
        } else {
          layer.msg(result.message, {icon: 2, time: 1500});
        }
      }, error: function (err) {
        layer.msg(err.message, {icon: 2, time: 1500});
      }
    })
  }
</script>
</body>
</html>
