
<div class="row">
    <div class="col-md-4 col-md-offset-1">
        <% if(message.type == 'warning'){ %>
        <div class="lss-alert lss-alert-warning">
            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
            <%=message.message%>
        </div>
        <% } %>
        <% if(message.type == 'info'){ %>
        <div class="lss-alert lss-alert-info">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            <%=message.message%>
        </div>
        <% } %>
        <% if(message.type == 'success'){ %>
        <div class="lss-alert lss-alert-success">
            <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
            <%=message.message%>
        </div>
        <% } %>
    </div>
</div>